.field{
text-align: center;
margin-top: 2vh;
}
.actions{
  display: flex;
  justify-content: center;
  .button{
    text-align: center;
    background: #29b744;
    color: #fff;
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 90px;
    transition: opacity .5s;
    &:hover {
      opacity: .6;
    }
  }
}
